<div class="alert alert-secondary text-center">
<h1>ACTUALIZACIÓN DE LA POLÍTICA PÚBLICA Y GOBERNANZA DE SEGURIDAD ALIMENTARIA Y NUTRICIONAL</h1>
</div>
<div class="bodyContainer6">
  <div class="container6">
    <div class="box">
      <div class="imgBx">
        <img width="450" height="300" src="/imagenes/ensalada.jpg">
      </div>
      <div class="contentBox">
        <h2>Tilt Box Hover Effects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img width="450" height="300" src="/imagenes/ensalada1.jpg">
      </div>
      <div class="contentBox">
        <h2>Tilt Box Hover Effects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>