<div class="alert alert-secondary text-center">
  <h1>APOYO NUTRICIONAL PARA POBLACIÓN VULNERABLE</h1>
</div>
<div class="bodyContainer3">

  <div class="container3">
    <div class="card">
      <div class="imgBx">
        <img src="/imagenes/ensalada.jpg">
      </div>
      <div class="content">
        <h2>Contenido ESAN 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="/imagenes/ensalada1.jpg">
      </div>
      <div class="content">
        <h2>Contenido ESAN 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="/imagenes/ensalada2.jpg">
      </div>
      <div class="content">
        <h2>Contenido ESAN 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
    </div>
    <!-- <div class="card">
			<div class="imgBx">
				<img src="img4.jpg">
			</div>
			<div class="content">
				<h2>Card Four</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
		</div> -->
  </div>
</div>