<section>
<div class="container">
                <div class="user signinBx">
                    <div class="imgBx"><img src="/imagenes/Login.jpg"></div>
                    <div class="formBx">
                        <form action="/login" method="post">
                            <h2>Ingresar</h2>
                            <input name="email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Correo eléctronico" required>
                            <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Ingrese la contraseña" required>
                            <button type="submit" class="btn  btn-block botonShiny">Ingresar</button>
                            <p>¿No tienes una cuenta? <a href="/registro">Registrarme</a></p>
                        </form>
                    </div>
                </div>
</div>

</section>


        