<div class="text-center">
  <h1 class="my-4">GESTOR DE CONTENIDOS VIRTUALES ESAN</h1>
</div>

<div class="container2">
  <div class="box">
    <h5 class="name">APOYO NUTRICIONAL PARA POBLACIÓN VULNERABLE</h5>
    <a href="/apoyo" class="buy botonShiny">Ver Nivel</a>
    <div class="circle"></div>
    <img src="/imagenes/mora.png" class="product">
  </div>
  <div class="box">
    <h6 class="name">IMPLEMENTACIÓN DEL PROGRAMA DE ALIMENTACIÓN ESCOLAR - PAE</h6>
    <a href="/pae" class="buy botonShiny">Ver nivel</a>
    <div class="circle"></div>
    <img src="/imagenes/manzana.png" class="product">
  </div>
  <div class="box">
    <h5 class="name">FORTALECIMIENTO DE LA EDUCACIÓN NACIONAL</h5>
    <a href="/fortalecimiento" class="buy botonShiny">Ver nivel</a>
    <div class="circle"></div>
    <img src="/imagenes/cereza.png" class="product">
  </div>
  <div class="box">
    <h6 class="name">ACTUALIZACIÓN DE LA POLÍTICA PÚBLICA Y GOBERNANZA DE SEGURIDAD ALIMENTARIA Y NUTRICIONAL</h6>
    <a href="/actualizacionpp" class="buy botonShiny">Ver nivel</a>
    <div class="circle"></div>
    <img src="/imagenes/banano.png" class="product">
  </div>
  <div class="box">
    <h6 class="name">MEJORAMIENTO DEL SISTEMA AGROALIMENTARIO PARA LA PRODUCCIÓN, DISTRIBUCIÓN Y COMERCIALIZACIÓN DE
      ALIMENTOS</h6>
    <a href="/mejoramiento" class="buy botonShiny">Ver nivel</a>
    <div class="circle"></div>
    <img src="/imagenes/naranja.png" class="product">
  </div>
</div>



