<div class="alert alert-secondary text-center">
  <h1>IMPLEMENTACIÓN DEL PROGRAMA DE ALIMENTACIÓN ESCOLAR - PAE</h1>
</div>
<div class="bodyContainer4">
  <div class="container4">
    <div class="clip clip1">
      <div class="content">
        <h2>Título de contenido 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>
    </div>
    <div class="clip clip2">
      <div class="content">
        <h2>Título de contenido 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>
    </div>
    <div class="clip clip3">
      <div class="content">
        <h2>Título de contenido 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>