<div class="container text-center">
  
  <div class="row">
    
    <div class="col-md-12 jumbotron"><h1>BIENVENIDO AL PANEL DE ADMINISTRACIÓN</h1></div>
    
  </div>
  

  <div class="row">
    <div class="col"></div>
    <div class="col">
  <div class="cards">
        <div class="content">
            <h2>Contenido Virtual ESAN</h2>
            <p></p>
            <a href="/">Ver contenido</a>
        </div>
        <img src="/imagenes/mora.svg">
    </div>
    </div>
    <div class="col"></div>
    </div>
</div>