{{> admin/headerAdmin }}

<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">

{{> admin/navbarAdmin}}


<div class="content-wrapper">
   
    {{> admin/mensajesFlash}}
    
    
    {{{body}}}
 
        
{{> admin/footerAdmin}}    

</div>
</body>

</html>
