<nav class="navbar navbar-expand-lg navbarAdmin fixed-top" id="mainNav">
  <a class="navbar-brand text-white" href="/indexPublicaciones">
  <i class="fa fa-fw fa-home"></i>Ir al inicio</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style="background-color:#37aedd;">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link text-white" href="/admin">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">Panel Administrador</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Publicaciones">
        <a class="nav-link text-white" href="/admin/publicaciones">
          <i class="fa fa-fw fa-calendar-check-o"></i>
          <span class="nav-link-text">Todas las publicaciones</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="CrearPublicaciones">
        <a class="nav-link text-white" href="/admin/publicaciones/crear">
          <i class="fa fa-fw fa-plus"></i>
          <span class="nav-link-text">Crear nueva publicación</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
        <a class="nav-link text-white" href="/admin/categorias">
          <i class="fa fa-fw fa-list"></i>
          <span class="nav-link-text">Categorias</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Comentarios">
        <a class="nav-link text-white" href="/admin/comentarios">
          <i class="fa fa-fw fa-commenting-o"></i>
          <span class="nav-link-text">Comentarios</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>